<title>
  {% if page.title %} {{ site.title }} - {{ page.title }} {% else %} {{
  site.title }} {% endif %}
</title>

<meta
  name="description"
  content="{{ page.description | default: site.description }}"
/>

<meta name="author" content="{{ site.author }}" />
<meta name="robots" content="index,follow" />
<meta name="color-scheme" content="light dark" />

<meta
  property="og:title"
  content="{% if page.title %} {{ site.title }} - {{ page.title }} {% else %} {{ site.title }} {% endif %}"
/>
<meta
  property="og:description"
  content="{{ page.description | default: site.description }}"
/>
<meta property="og:image" content="/assets/images/share.jpg" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

{% if page.layout == "post" %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
