{{- $source := $.Get "src" -}}
{{- if not $source -}}
  {{- errorf "Audio 'src' must be supplied" -}}
{{- end -}}
{{- $audio := or ($.Page.Resources.GetMatch $source) (resources.GetMatch $source) -}}
{{- $type := $.Get "type" -}}
{{- if $audio -}}
  {{- $type = $type | default $audio.MediaType.Type -}}
{{- end -}}
{{- if not $type -}}
  {{- errorf "Audio 'type' must be supplied" -}}
{{- end -}}
{{- $caption := $.Get "caption" -}}
{{- $preload := $.Get "preload" | default "metadata" -}}
{{- $controls := $.Get "controls" | default true -}}
{{- $muted := $.Get "muted" -}}
{{- $loop := $.Get "loop" -}}
{{- $autoplay := $.Get "autoplay" -}}

{{- if $caption -}}
<figure>
{{- end -}}
  <audio preload="{{ $preload }}"
    {{- if $controls }} controls{{ end -}}
    {{- if $muted }} muted{{ end -}}
    {{- if $loop }} loop{{ end -}}
    {{- if $autoplay }} autoplay{{ end -}}>
    <source
      src="{{ with $audio }}{{ .RelPermalink }}{{ else }}{{ $source }}{{ end }}"
      type="{{ $type }}"
    >
    Your browser does not support the audio element.
  </audio>
{{- with $caption -}}
  <figcaption>{{ . }}</figcaption>
</figure>
{{- end -}}
